:root {
  --main-bg-color: black;
  --main-text-color: #F3EDD7;
}

@font-face {
  font-family: CooperHewitt;
  /* font-weight: bold; */
  src: url('./cooper-hewitt.heavy.otf') format('opentype');
}





html, body {
  font-family: 'CooperHewitt';
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}
body, #footer {
  display: flex;
  justify-content: center;
}
img {
  height: 80vh;
}
#footer {
  color: var(--main-text-color);
  font-size: 36px;
  display: flex;
  justify-content: space-around;
}

/* LINKS */
a:link {
  color: var(--main-text-color);
}
a:hover {
  color: lightgray;
}